@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Ubuntu:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.top-navigation {
    background: linear-gradient(180deg, #D937F1 0%, #0961D8 100%);
}
.menu-bar {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.item01 {
    color: white;
    background-color: transparent;
    font-size: 18px;
    display: inline-block;
    box-sizing: border-box;
    padding: 15px 10px;
    cursor: default;
}

.item01.title01 {
    font-weight: 250;
}
/* .item01:hover{
    border-radius: 10px;
    background: #E2346E;
} */

.item02 {
    color: white;
    background-color: transparent;
    font-size: 18px;
    display: inline-block;
    box-sizing: border-box;
    padding: 14px 15px;
    cursor: default;
}

.item02.title02 {
    font-weight: 250;
}

.item02:hover:active{
    border-radius: 10px;
    background: #E2346E;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.group01 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.title-featured {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: #ffffff;
    height: 100px;
}
.lineneon {
    height: 5px;
    border-radius: 100px;
    background-color: #ffffff;
    -webkit-box-shadow:0px 0px 10px 5px #E2346E;
    -moz-box-shadow: 0px 0px 10px 5px #E2346E;
    box-shadow: 0px 0px 10px 5px #E2346E;
}

.event {
    display: flex;
    align-items: center;
    justify-content:space-between;
    transition: transform 0.5s ease;
    width: 100%; /* เพิ่ม style นี้ */
  }    
.card {
    transition: 0.3s;
    width: 25%;
    border-radius: 20px;
    margin-inline: 10px;
    overflow: hidden; /* เพิ่มบรรทัดนี้เพื่อให้รูปภาพตัดขอบเมื่อมีขนาดที่ไม่เท่ากัน */
}
/* .event .card.active {
    border: 2px solid #ffffff;
    box-shadow: 0 0 35px 0 rgba(226,52,110);
  } */
  
.card:hover {
    box-shadow: 0 0 35px 0 rgba(226,52,110);
}

.imgcard {
    border-radius: 20px 20px 0 0;
    width: 100%;
    max-height: 350px;

}

.box {
    padding: 20px 10px;
    background: rgba(64, 47, 117, 0.40);
    border-radius: 0 0 20px 20px;
}
.item03 {
    margin: 10px;
    cursor: default;
}
h3 {
    color: #E2346E;
}
p {
    color: #ffffff;
    cursor: default;
}
.footer {
    background: linear-gradient(180deg, #0961D8 0%, #D937F1 100%);
    color: white;
    text-align: center;
    padding: 10px 0;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

.container.eventslide {
    position: relative;
  }
  
  .event .card.active {
    /* border: 5px solid #ffffff; */
    box-shadow: 0 0 35px 0 rgba(226,52,110);
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: linear-gradient(180deg, #0961D8 0%, #D937F1 100%);
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    z-index: 2; /* ให้ปุ่มนี้อยู่ข้างบน */
  }
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }

.footer-container {
    width: 1140px;
    margin: 0 auto;
}  

.footer-service {
    display:flex;
    /* align-items: center; */
    justify-content:space-between;
    margin-top: 20px;
}
.slideshow-container {
    display: flex;
    align-items: center;
    justify-content:center;
}
